export PYTHONPATH=/Users/maoyachen/Code/rfid/scripts:/Users/maoyachen/Code/rfid/lib
export PATH=/Users/maoyachen/Code/rfid/scripts:/Users/maoyachen/Code/rfid/grc:$PATH
eval "$(micromamba shell hook --shell=zsh)"
micromamba activate gnuradio
